/* <!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> */

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
}

a{
  text-decoration: none;
}

.parent{
  border: 5px solid #000;
  display: flex;
}
.child{
  height: 100px;
  flex: 1;
}
.child:nth-child(1){
  background-color: crimson;
}
.child:nth-child(2){
  background-color: yellow;
}
.child:nth-child(3){
  background-color: gray;
}
@media (max-width:768px){
  .parent{
    flex-direction: column;
  }
  .child:nth-child(1){
    order: 3;
  }
  .child:nth-child(2){
    order: 1;
  }
  .child:nth-child(3){
    order: 2;
  }
}



















