/* <!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> */

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
}

a{
  text-decoration: none;
}

.parent{
  border: 5px solid #000;
  display: flex;
  flex-wrap: wrap;

}
.parent div{
  /* width: 200px; */
  height: 200px;
  /* flex-basis: 500px;
  flex-grow:1 */
  flex: 1 0 400px;
}
.child1{
  background-color: crimson;
  
}
.child2{
  background-color: yellowgreen;
  
}
.child3{
  background-color: royalblue;
  
}























