/* <!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> */

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
  margin:0;
  height: 100vh;
}
a{text-decoration: none;}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
/* 스크롤 없는 100퍼센트 높이 화면 */
.container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
header{
  background-color: yellow;
  padding: 30px;
}
.banner{
  background-color: yellowgreen;
  padding: 30px;
}

section{
  display: flex;
  height: 100%;
}
section article{
}
.navi{
  flex-basis: 300px;
  background-color: pink;
  padding: 30px;
}
.content{
  flex: 1;
  background-color: skyblue;
  padding: 30px;
}

@media (max-width:768px){

}








